@charset "UTF-8";
/* CSS Document */
/* HTML Tags */
body {
	color: #333;
	font-family: Arial, Verdana, "Lucida Bright", Helvetica, sans-serif;
	background-color: #999;
	text-align: center;
	padding: 0px;
	background-image: url(../images/bg_texture.gif);
	background-repeat: repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 0.8em;
}
h1, h2, h3, h4, h5, h6 {
	text-indent: -0.75em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #337;
	padding: 0px;
	font-family: "Trebuchet MS", Helvetica, Geneva, Arial, sans-serif;
	margin-top: .6em;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
p {
	margin: .25em 0 0;
	padding: 0px;
	line-height: 1.2em;
}
ul {
	margin-top: .25em;
	margin-left: 1em;
	padding: 0px;
}
li {
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
}
dl {
	margin: .25em 0px 0px;
	padding: 0px;
}
dt {
	color: #339;
	text-indent: -.5em;
	margin: 1em 0px 0px;
	padding: 0px;
}
dd {
	line-height: 1.2em;
	margin: .25em 0px 0px;
	padding: 0px;
}
img {
	margin: 0px;
	padding: 0px;
	height: 20px;
	width: 780px;
}
/* classes */
.imgTop {
	margin-top: 25px;
}
.imgBot {
	margin-bottom: 25px;
}
.date {
	color: #666;
	font-size: 0.8em;
	line-height: 1em;
}
.clearfloat {
	font-size: 1px;
	line-height: 0px;
	clear: both;
	height: 0px;
}
/* ID selectors */
p#date {
	font-style: italic;
	text-align: right;
	padding: 0px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#wrapper {
	background-color: #FFF;
	text-align: left;
	width: 780px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
}
#header {
	margin: 0px;
	padding: 0px;
	width: 780px;
	background-image: url(../images/bg_dot.gif);
	background-repeat: repeat;
}
#header h1 {
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 50px;
}
#sidebar {
	background-image: url(../images/grey_rnd_rect.gif);
	background-repeat: no-repeat;
	height: 315px;
	width: 215px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-left: 20px;
}
#sidebar_content {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	width: 180px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
}
#content {
	margin-top: 15px;
	margin-right: 250px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 50px;
	border-right: 1px dashed #333;
}
